<div class="center jumbotron">
    <div class="text-center">
        <h1>自分だけのデータスペースを作りましょう!</h1>
        <%= link_to "初めての方はこちら", signup_path, class: "btn btn-lg btn-primary" %>
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary" %>
    </div>
</div>